@use "sass:math";

@font-face {
    font-family: Root;
    font-weight: 300;
    src:
        url("./fonts/OpenSans-Light.woff2") format("woff2"),
        url("./fonts/OpenSans-Light.woff") format("woff2");
}

@font-face {
    font-family: Root;
    font-weight: 400;
    src:
        url("./fonts/OpenSans-Regular.woff2") format("woff2"),
        url("./fonts/OpenSans-Regular.woff") format("woff2");
}

@font-face {
    font-family: Root;
    font-weight: 500;
    src:
        url("./fonts/Oswald-Regular.woff2") format("woff2"),
        url("./fonts/Oswald-Regular.woff") format("woff2");
}

@font-face {
    font-family: Root;
    font-weight: 600;
    src:
        url("./fonts/Oswald-Bold.woff2") format("woff2"),
        url("./fonts/Oswald-Bold.woff") format("woff2");
}

@font-face {
    font-family: Root;
    font-weight: 700;
    src:
        url("./fonts/Oswald-Bold.woff2") format("woff2"),
        url("./fonts/Oswald-Bold.woff") format("woff2");
}

@function pixelsToVW($targetWidth) {
    @return math.div($targetWidth * 100vw, 1800px);
}

body {
    margin: 0;
    font-family: Root, sans-serif;
}

.header {
    position: relative;

    padding-top: 79px;
    padding-bottom: 19px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-image: url(./images/headimage.png);
        background-position: center;
        background-size: cover;
        filter: brightness(40%);
        content: "";
    }

    &-navigation {
        display: flex;
        align-items: center;
        gap: 58px;
        margin: 0 auto;
        width: pixelsToVW(1177px);

        @media (max-width: 800px) {
            flex-direction: column;
        }

        &__logo {
            flex-grow: 1;
            font-size: 36px;
            line-height: 30px;
            letter-spacing: 2.3px;
            font-weight: 600;
            color: #fff;
        }

        &__link {
            position: relative;
            font-weight: 600;
            text-decoration: none;
            font-size: 14px;
            line-height: 20.75px;
            color: #fff;
            letter-spacing: 1.94px;

            &::before {
                position: absolute;
                top: 19px;
                right: 0;
                height: 2px;
                background-color: #4caf50;
                content: "";
            }

            &--underscore {
                &-large::before {
                    width: 54.91px;
                }

                &-small::before {
                    width: 17.97px;
                }

                &-medium::before {
                    width: 19.44px;
                }
            }

            &:last-child {
                margin-left: 6px;
            }
        }
    }

    &__heading {
        margin-top: 283px;
        margin-bottom: 24.5px;
        font-size: 72px;
        line-height: 106.7px;
        letter-spacing: 4.61px;
        padding: 0 10px;
        color: #fff;
        text-align: center;
    }

    &__paragraph {
        margin-top: 0;
        margin-bottom: 303.5px;
        padding: 0 10px;
        font-size: 20px;
        line-height: 23.44px;
        letter-spacing: 1.28px;
        text-align: center;
        color: #fff;
    }

    &-controls {
        display: flex;
        width: 100%;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #fff;
        gap: 9px;
        align-items: baseline;
    }

    &-control {
        font-size: 18px;
        line-height: 26.68px;
        letter-spacing: 1.15px;
        opacity: 0.4372;
        font-weight: 700;

        &--active {
            position: relative;
            font-size: 36px;
            line-height: 53.35px;
            letter-spacing: 2.3px;
            opacity: 1;

            &::before {
                position: absolute;
                top: 50%;
                left: -2px;
                width: 10px;
                height: 2px;
                background-color: #4caf50;
                z-index: 1;
                content: "";
            }

            &::after {
                position: absolute;
                top: 50%;
                left: 1px;
                width: 40px;
                height: 2px;
                background-color: #4caf50;
                z-index: -1;
                content: "";
            }
        }
    }
}

.about {
    position: relative;
    margin: pixelsToVW(149px) 0 pixelsToVW(117px) pixelsToVW(315px);
    width: pixelsToVW(1182px);
    height: pixelsToVW(559px);

    &::before {
        position: absolute;
        z-index: 2;
        top: pixelsToVW(62px);
        left: pixelsToVW(402px);
        width: pixelsToVW(309px);
        height: pixelsToVW(418px);
        background-color: #4caf50;
        opacity: 0.8;
        -webkit-clip-path: polygon(32.3% 78.5%, 32.3% 0, 100% 0, 100% 100%, 25% 100%, 0 100%, 0 78.5%);
        clip-path: polygon(32.3% 78.5%, 32.3% 0, 100% 0, 100% 100%, 25% 100%, 0 100%, 0 78.5%);
        content: "";

        @media (max-width: 900px) {
            display: none;
        }
    }

    @media (max-width: 900px) {
        margin-bottom: pixelsToVW(250px);
        height: pixelsToVW(391px * 2.5);
    }

    @media (max-width: 600px) {
        margin-bottom: pixelsToVW(600px);
        height: pixelsToVW(391px * 3);
    }

    @media (max-width: 400px) {
        margin-bottom: pixelsToVW(950px);
        margin-left: pixelsToVW(70px);
        width: 79%;
        height: pixelsToVW(391px * 5);
    }

    &-article {
        position: absolute;
        height: pixelsToVW(391px);

        &--top {
            width: pixelsToVW(502px);
            top: 0;
            left: 0;
            z-index: 3;
        }

        &--bottom {
            width: pixelsToVW(569px);
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        &__image {
            position: absolute;
            top: 0;
            bottom: 0;
            width: pixelsToVW(309px);
            z-index: -1;

            @media (max-width: 900px) {
                width: pixelsToVW(309px * 1.5);
            }

            @media (max-width: 900px) {
                width: pixelsToVW(309px * 2);
            }

            @media (max-width: 400px) {
                width: pixelsToVW(309px * 3);
            }
        }

        &--top &__image {
            right: 0;
            
            @media (max-width: 900px) {
                transform: translateX(33%);
            }
        }

        &--bottom &__image {
            left: 0;

            @media (max-width: 900px) {
                transform: translateX(-25%);
            }
        }

        &__heading {
            margin-top: 73px;
            margin-bottom: 32px;
            font-size: 42px;
            line-height: 49.22px;
            letter-spacing: 2.69px;
            font-weight: 300;
            text-transform: uppercase;

            b {
                font-size: 36px;
                line-height: 53.35px;
                letter-spacing: 2.3px;
            }

            @media (max-width: 1250px) and (min-width: 601px) {
                max-width: 200px;
            }

            @media (max-width: 1000px) {
                margin-top: -8px;
            }

            @media (max-width: 400px) {
                max-width: 170px;
                margin-bottom: 0;
            }
        }

        &__paragraph {
            position: relative;
            font-size: 15px;
            line-height: 25px;
            max-width: 281px;
            margin: 0;
            padding-left: 30px;
            letter-spacing: 1.26px;
            color: #5B5858;
            
            &::before {
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #353535;
                content: '';
                top: 14px;
                left: 0;
            }

            @media (max-width: 1250px) and (min-width: 601px) {
                max-width: 200px;
            }

            @media (max-width: 400px) {
                max-width: 170px;
            }
        }

        &--bottom &__paragraph {
            position: absolute;
            right: 0;
            bottom: 80px;

            @media (max-width: 900px) {
                bottom: -80px;
            }

            @media (max-width: 400px) {
                bottom: -150px;
                transform: translateX(25%);
            }
        }
    }
}

@mixin sectionHeading {
    &__heading {
        position: relative;
        font-size: 48px;
        line-height: 71.14px;
        letter-spacing: 3.07px;
        color: #252525;
        margin-top: 0;

        &::before {
            position: absolute;
            width: 45px;
            height: 2px;
            left: 0;
            bottom: -7px;
            content: '';
            background-color: #252525;
        }
    }
}

.services {
    @include sectionHeading;
    background-color: #FBFBFB;
    padding: pixelsToVW(135px) pixelsToVW(312px) pixelsToVW(136px) pixelsToVW(315px);

    @media (max-width: 500px) {
        padding-right: 0;
    }

    @media (max-width: 400px) {
        padding-left: 10px;
    }

    &__heading {
        margin-bottom: 85px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        padding: 0;
        list-style-type: none;
        margin: 0;

        &-item {
            position: relative;
            width: 370px;
            height: 260px;
            box-sizing: border-box;
            background-color: #fff;
            padding: 53px 49px 35px 44px;

            &--active {
                border-bottom: 3px solid #70BF73;

            }

            &__heading {
                position: relative;
                margin-top: 0;
                margin-bottom: 36px;
                font-size: 20px;
                line-height: 29.64px;
                letter-spacing: 1.28px;
                color: #252525;
                text-transform: uppercase;
                font-weight: 500;

                &::before {
                    position: absolute;
                    width: 35px;
                    height: 2px;
                    left: 0;
                    bottom: -15px;
                    background-color: #252525;
                    content: '';

                }
            }

            &__icon-wrap-outer {
                position: absolute;
                top: 63px;
                right: 60px;
                width: 25px;
                height: 25px;
                z-index: 1;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                    content: '';
                    background-color: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 20px #dbdbdb;
                    z-index: -1;
                }
            }

            &__icon-wrap {
               width: inherit;
               height: inherit;
               overflow: hidden;
            }

            &__icon {
                width: 25px;
                height: inherit;
                margin-left: -25px;
                background-position: center;
                background-repeat: no-repeat;
                filter: drop-shadow(25px 0 #bcbcbc);
                -webkit-filter: drop-shadow(25px 0 #bcbcbc);

                &--pencil {
                    background-image: url("./images/graphic-design.png");
                }

                &--design {
                    background-image: url("./images/pencil-case.png");
                }

                &--coding {
                    background-image: url("./images/coding.png");
                }
            }

            &__paragraph {
                font-size: 12px;
                line-height: 25px;
                letter-spacing: 1.01px;
                color: #777;
                margin-top: 0;
                margin-bottom: 19px;
            }

            &__link {
                font-size: 10px;
                line-height: 14.82px;
                font-weight: 500;
                letter-spacing: 0.64px;
                text-transform: uppercase;
                text-decoration: none;
                color: #252525;
            }
        }

        &-item--active &-item__icon {
            margin-left: 0;
            filter: revert;
            -webkit-filter: revert;
        }
    }
}